/* globals.css */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    line-height: 1.6; /* Sets a comfortable line height */
    background-color: #f0f0f0; /* Light gray background color */
    color: #333; /* Dark gray text color */
}

/* Links */
a {
    text-decoration: none; /* Remove underline from links */
    color: #319E48; /* Change link color */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Buttons */
button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Utility classes */
.container {
    max-width: 1200px; /* Sets a max width for containers */
    margin: 0 auto; /* Centers the container */
    padding: 0 20px; /* Adds padding on sides */
}
